@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient {
  background: hsla(49, 100%, 81%, 1);

  background: radial-gradient(
    circle,
    hsla(49, 100%, 81%, 1) 0%,
    hsla(16, 100%, 76%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(49, 100%, 81%, 1) 0%,
    hsla(16, 100%, 76%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(49, 100%, 81%, 1) 0%,
    hsla(16, 100%, 76%, 1) 100%
  );
}
